@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink("Admintool", "Admintool", "User")</li>
    }
    <li>@Html.ActionLink("Bookings", "Bookings", "User")</li>
    <li>@Html.ActionLink(User.Identity.GetUserName(), "Profile", "User")</li>
    <li>@Html.ActionLink("Log Out", "LogOut", "User")</li>
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Home")</li>
    <li>@Html.ActionLink("Log In", "Login", "Home")</li>
}